header{
    padding: 15px;
    border-radius: 4px;
    margin: auto;
    width: 85%;
    font: 100% Lucida Sans, Verdana;
    
}

main{
    padding: 15px;
    margin: auto;
    border-radius: 4px;
    width: 85%;
    height: auto;
}

#searchbox{
    border-bottom: 1px solid #e9e8ed;
}
#result{

}
.errormessage{
 color: red;
}